doctype html
html(lang="en")
    head
        link(rel="stylesheet", href="style/style.css")
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="description", content="Register Form")
        meta(name="author", content="TarekHassan")
        meta(name = "keywords" , content ="register sign up join us")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        title RegisterForm
    body 
        form(action="" ) 
            label(for="Name" ) CardHolder Name
            input(type="text" id="Name" placeholder="e.g Tarek Hassan")
             
            label(for="Number") Card Number
            input(type="text" id="Number"  placeholder="e.g 1234 0124 9428 1294")
            .date-cvc 
                .labels 
                    label(for="Date") EXP.DATE(MM/YY)
                    label(for="cvc") CVC 
                
                input(type="text" id="Date" placeholder="MM") 
                input(type="text"  placeholder="YY") 
                input(type="text" id="cvc" placeholder="e.g 123")
            div.fix-end
            button(type="submit") Confirm 
            script(src="script.js") 